@model UserRating.ViewModels.LogInViewModel;

@{
}

<h1>Login</h1>
<br />
<form method="post" asp-controller="Authentication" asp-action="Login">
    <div>
        <label asp-for="Login">Login</label>
        <input asp-for="Login" class="form-control" style="width: 25%" />
        <span asp-validation-for="Login"></span><br />
    </div>
    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" style="width: 25%" />
        <span asp-validation-for="Password"></span><br />
    </div>
    <br />
    <div class="row">
        <input type="submit" class="btn btn-primary" style="width:100px; margin-right:50px" value="Login" />
        <a class="btn btn-primary" style="width:100px" asp-area="" asp-controller="Authentication" asp-action="SignUp">Sign Up</a>
    </div>
</form>