@model UserRating.ViewModels.ProfileViewModel;

@{
}

<h1>Edit</h1>
<br />
<form method="post" asp-controller="Profile" asp-action="Edit" enctype="multipart/form-data">
    <div>
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" style="width: 25%" />
        <span asp-validation-for="FirstName"></span><br />
    </div>
    <div>
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" style="width: 25%" />
        <span asp-validation-for="LastName"></span><br />
    </div>
    <div>
        <label>Age</label>
        <input asp-for="Age" class="form-control" style="width: 25%" />
        <span asp-validation-for="Age"></span><br />
    </div>
    <div>
        <label>City</label>
        <input asp-for="City" class="form-control" style="width: 25%" />
        <span asp-validation-for="City"></span><br />
    </div>
    <div>
        <label>About Me</label>
        <textarea rows="5" style="width: 50%" asp-for="AboutMe" class="form-control" />@Model.AboutMe</textarea>
        <span asp-validation-for="AboutMe"></span><br />
    </div>
    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" style="width: 25%" />
        <span asp-validation-for="Email"></span><br />
    </div>
    <div>
        <label>Login</label>
        <input asp-for="Login" class="form-control" style="width: 25%" />
        <span asp-validation-for="Login"></span><br />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" class="form-control" style="width: 25%" />
        <span asp-validation-for="Password"></span><br />
    </div>
    <div>
        <label>Select Image</label>
        <input type="file" name="image" class="form-control" style="width: 50%" accept=".jpg, .png" /><br />
        <button class="btn btn-primary" asp-controller="Profile" asp-action="RemoveAvatar">Remove Current Avatar</button>
    </div>
    <br />
    <a class="btn btn-primary" style="width: 100px; margin-right: 50px" asp-controller="Profile" asp-action="Profile">Back</a>
    <input type="submit" class="btn btn-primary" style="width:100px; margin-right:50px" value="Apply" />
</form>